@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
	
html {
	font-family: "Truculenta";
	}
	
.grid-container div {
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: 200px auto;
	grid-template-rows: 300px auto;
	height 100vh;
}

.header {
	box-sizing: border-box;
	background-color: blue;
	grid-column-start: 1;
	grid-column-end: span 2;
}


.sidebar {
	background-color: grey;
}


.main {
	background-color: white;

}

.footer {
	background-color: yellow;
	grid-column-start: 1;
	grid-column-end: span 2;
}

img {
	size:
}

.scroll-area {
position: absolute;
height: 100%;
overflow: auto;

}
/* CSS for styling my Back to Top Button */

#myBtn {
position: fixed;
bottom: 20px; /* Start for Friday Week 2 */
right: 30px;
z-index: 99; /* z-index brings the element (button) to the front */
font-size: 18px;
border: none;
outline: none;
background-color: var( -- backtotop) ; /* Calling up my Variable Color to be used. */
color: red;
cursor: pointer; /* Setting the icon to be used for my button on hover. https://www.w3schools.com/cssref/tryit.php? */
padding: 15px;
border-radius: 4px;
transition-duration: 0.2s; 
opacity: 0;
	}
	
#myBtn: hover {
background-color: var( -- charcoal) ; /* Calling up my Variable Color to be used. */
	}
	
	
.footer {
background-color: var( -- blue);
grid-column-end: span 2;
	}
